<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/api/russian/" method="POST">
        <input type="text" autofocus placeholder="введите название блюда" name="name" required>
        <input type="text"  placeholder="введите рецепт" name="manual" >
        <input type="submit" value="добавить специальность">
    </form>
</body>
</html>