<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/game.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <link rel="stylesheet" type="text/css" href="/css/.css" />
    <title>Игра</title>
</head>

<body>

    <%- include('blocks/header') -%>

        <div class="main">

            <div class="main_rules">
                <h2>Правила</h2>
                <p>
                    <b>Задача: </b>перетащить в центральный блок все необходимые инридиенты для преготовления блюда (очередность неважна).
                    Если ошиблись, то можно перетащить инридиенты обратно.
                </p>
                <p>
                    Если хотите проверить правильность данного Вами ответа, то нажмите на кнопку "Завершить".
                </p>

            </div>

            <div class="game">
                <div class="box1">
                    <h1 id="timer">00:00:00</h1>
                </div>
                <div class="box2" class="box2">
                    <img src="/img/potato.png" alt="" id="food1" draggable="true">
                </div>
                <div class="box3">
                    <img src="/img/carrot.png" alt="" id="food2" draggable="true">
                </div>
                <div class="box4">
                    <img src="/img/apple.png" alt="" id="food3" draggable="true">
                </div>
                <div class="box5">

                </div>
                <div class="box6 cell">
                    <button id="startBtn">Старт</button>
                </div>
                <div class="box8">

                </div>
                <div class="box9">
                    <button id="resetBtn" disabled>Начать заново</button>
                </div>


                <div class="box12">
                    <button id="pauseBtn" disabled>Завершить</button>
                </div>
            </div>
        </div>

        <%- include('blocks/footer') -%>
</body>
<script src="/JS/game.js"></script>

</html>