<script>

</script>

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Русская кухня</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/modal.css">
    <link rel="stylesheet" href="/css/foodSlider.css">
</head>

<body>


    <%- include('blocks/header') -%>

        <%- include('blocks/main') -%>

            <%- include('blocks/footer') -%>

                <script>
                    let search = document.querySelector(".search")
                    let searchBtn = document.querySelector(".searchBtn")
                    searchBtn.addEventListener("click", async function () {
                        let response = await fetch(`/api/russian?name=${search.value}`);
                        let food = await response.json()
                        console.log(food.rows)
                        searchBy(food.rows)
                    })

                    function searchBy(food) {

                        let mainfood = document.querySelector(".mainfood")
                        mainfood.innerHTML = ""

                        food.forEach(item => {
                            let mainfood_card = document.createElement("div")
                            mainfood_card.classList.add("mainfood_card")
                            mainfood.append(mainfood_card)

                            let name = document.createElement("h3")
                            mainfood_card.append(name)
                            name.innerHTML = item.name

                            let photo = document.createElement("div")
                            photo.classList.add("boxPhoto")
                            mainfood_card.append(photo)

                            let img = document.createElement("img")
                            photo.append(img)
                            img.setAttribute("src", "")

                            let link = document.createElement("a")
                            mainfood_card.append(link)
                            link.innerHTML = "посмотреть рецепт"
                            link.setAttribute("href", "")
                        });
                    }

                </script>
</body>
<Script src="JS/Arr.js"></Script>
<Script src="JS/modal.js"></Script>
<Script src="JS/foodSlider.js"></Script>


</html>

<div id="openModal" class="modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">
                    <script>t02()</script>
                </h3>
                <a href="#close" title="Close" class="close">×</a>
            </div>
            <div class="modal-body">
                <p>Первый</p>


                <div class="slider">
                    <div class="item">
                        <img src="img/slide1.jpg" alt="Первый слайд">
                        <P>Первый</P>
                    </div>

                    <div class="item">
                        <img src="img/slide2.jpg" alt="Первый слайд">
                    </div>

                    <div class="item">
                        <img src="img/slide3.jpg" alt="Первый слайд">
                    </div>

                    <a class="prev" onclick="minusSlide()">&#10094;</a>
                    <a class="next" onclick="plusSlide()">&#10095;</a>
                </div>


            </div>
        </div>
    </div>
</div>

<div id="openModal2" class="modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Название</h3>
                <a href="#close" title="Close" class="close">×</a>
            </div>
            <div class="modal-body">
                <p>Второй</p>
            </div>
        </div>
    </div>
</div>

<div id="openModal3" class="modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Название</h3>
                <a href="#close" title="Close" class="close">×</a>
            </div>
            <div class="modal-body">
                <p>Третий</p>
            </div>
        </div>
    </div>
</div>