* {
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: "Gilroy";
    src: url("Шрифты\gilroy-lightitalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

body {
    animation: theme 21s linear infinite;

    &:after,
    &:before {
        content: '';
        display: block;
        position: fixed;
        z-index: -1;
        top: 0;
        width: 100vw;
        height: 100vh;
        width: 100vmax;
        height: 100vmax;
        background: rgba(0, 0, 0, 0.05);
        animation: background 90s linear infinite;
    }

    &:after {
        left: 15vw;
    }

    &:before {
        right: 15vw;
        animation-delay: -30s;
        animation-direction: reverse;
    }
}

@keyframes theme {
    0% {
        background: #AFE069;
    }

    16% {
        background: #bef574;
    }

    33% {
        background: #b5e972;
    }

    50% {
        background: #ADE069;
    }

    66% {
        background: #87AD51;
    }

    83% {
        background: #86AD51;
    }

    100% {
        background: #AFE069;
    }
}

@keyframes background {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}



.headers {
    width: 95%;
    height: 200px;
    padding-left: 3%;
    margin: 1% 1% 100px 1%;
}

.headers-blocksFirst {
    width: 15%;
    height: 200px;
    background-color: white;
    padding-left: 3%;
    float: left;
    margin-right: 1%;
}

.headers-blocksSecond {
    width: 80%;
    height: 200px;
    background-color: white;
    float: left;
    display: flex;
    align-items: center;
}

.headers-blocks {
    margin-right: 2%;
}

.headers-menu {
    width: 80%;
    margin-left: 1%;
}

.topmenu {
    display: flex;
}

.topmenu li {
    display: flex;
    list-style: none;
    margin-right: 15px;
    justify-content: space-around;
}

.topmenu a {
    text-align: center;
    position: relative;
    text-decoration: none;
    color: black;
    font-size: 1.2em;
    font-weight: 700;
}

.topmenu li:hover {
    cursor: pointer
}

.topmenu a:hover {
    color: #11be37;
}

.submenu {
    background-color: #184d23;
    top:40px;
    display: none;
    position: absolute;
    transform: translate(-50% -50%);
}

.submenu li {
    margin-top: 10px;
}

.topmenu li:hover .submenu {
    display: block;
}



.header {
    width: 100%;
    height: 1500px;
    size: 50%;
}

.main {
    width: 80%;
    margin-bottom: 300px;
    margin-left: 50%;
    transform: translate(-50%, 0%);
    margin-bottom: 100px;
}

.title {
    font-family: "Gilroy";
    font-size: 2.5vw;
    text-align: center;
    padding-top: 10px;
}

.veg {
    background-color: rgb(0, 255, 21);
}



.footer {
    width: 98%;
    height: 250px;
    background-color: rgb(0, 0, 0);
    margin: 1% 1% 1% 1%;
}