<div class="mainfood">
    <div class="mainfood_card">
        <h3>Название блюда</h3>
        <div class="boxPhoto">
            <img src="" alt="фото блюда">
        </div>
        <a href="#openModal">Посмотреть рецепт</a>
    </div>
    <div class="mainfood_card">
        <h3>Название блюда</h3>
        <div class="boxPhoto">
            <img src="" alt="фото блюда">
        </div>
        <a href="#openModal2">Посмотреть рецепт</a>
    </div>
    <div class="mainfood_card">
        <h3>Название блюда</h3>
        <div class="boxPhoto">
            <img src="" alt="фото блюда">
        </div>
        <a href="#openModal3">Посмотреть рецепт</a>
    </div>
   



</div>