<!-- 1 способ -->
<div class="mainfood">
    <% russian_cuisine.forEach(function(item) { %>
        <div class="mainfood_card">
            <h3><%= item.name %></h3>
            <div class="boxPhoto">
                <img src="" alt="фото блюда">
            </div>
            <a href="#openModal">Посмотреть рецепт</a>
        </div>
    <% }); %>

</div>
