<!-- 1 способ -->
<div class="mainfood">
    <% russian_cuisine.forEach(function(item) { %>
        <div class="mainfood_card">
            <h3>
                <%= item.name %>
            </h3>
            <div class="boxPhoto">
                <img src="<%= item.photo %>" alt="фото блюда">
            </div>
            <p>Оценка: <%= item.estimation %>
            </p>

            <form>
                <select action="/api/russian/" name="estimation" method="POST">
                    <option value="">Выберете оценку</option>
                    <option value="10">10</option>
                    <option value="9">9</option>
                    <option value="8">8</option>
                    <option value="7">7</option>
                    <option value="6">6</option>
                    <option value="5">5</option>
                    <option value="4">4</option>
                    <option value="3">3</option>
                    <option value="2">2</option>
                    <option value="1">1</option>
                </select>

                <input type="submit" value="Отправить"></p>
            </form>
            <a href="#openModal">Посмотреть рецепт</a>

        </div>
        <% }); %>

</div>



<div id="openModal" class="modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <!-- Название блюда -->
                <h3 class="modal-title"></h3>
                <!-- Ингридиенты -->
                <p></p>
                <a href="#close" title="Close" class="close">×</a>
            </div>
            <div class="modal-body">

                <div class="photo"><img src="">
                    <img src="" alt="">
                </div>
                <div class="text">

                </div>

                <div class="photo">
                    <img src="" alt="jop';jkop'">
                </div>
                <div class="text">
                    <p>
                    </p>
                </div>

                <div class="photo"><img src="">
                    <img src="" alt="">
                </div>
                <div class="text">

                </div>

                <div class="photo">
                    <img src="" alt="">
                </div>
                <div class="text">

                </div>

                <div class="photo"><img src="">
                    <img src="" alt="">
                </div>
                <div class="text">

                </div>

                <div class="photo">
                    <img src="" alt="">
                </div>
                <div class="text">

                </div>

                <div class="photo"><img src="">
                    <img src="" alt="">
                </div>
                <div class="text">

                </div>

                <div class="photo">
                    <img src="" alt="">
                </div>
                <div class="text">

                </div>

                <div class="photo">
                    <img src="" alt="">
                </div>
                <div class="text">

                </div>

                <div class="photo">
                    <img src="" alt="">
                </div>
                <div class="text">

                </div>

                <div class="photo">
                    <img src="" alt="">
                </div>
                <div class="text">

                </div>

            </div>
        </div>
    </div>
</div>